@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,100&display=swap');
.hero {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ffffff;
  color: #33332d;
  padding: 10vh 0;
  gap: 50px;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 20px;
  align-items: center;
}

.content{
display: flex;
flex-direction: column;
gap: 30px;
}

.content > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content > p {
  font-size: 18px;
}

.button{
  width: 150px;
  height: 50px;
  padding-top: 10px;
  background-color: white;
  border: solid #33332d 2px;
  box-shadow: -3px 5px #33332d;
  text-align: center;
}

.hero > div > img {
    width: 400px;
}

.button:hover{
  color: white;
  background-color: #33332d;
}

@media (min-width: 500px) {
  .hero {
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .hero > .content {
    margin-left: 50px;
  }
  
  .button {
    margin-top: 20px;
  }

 .hero > div > img {
    width: 500px;
  }

}



