@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,100&display=swap');

.SortInfo {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #33332D;
  text-align: left;
  width: 80%;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.SortInfo__Body {
  display: flex;
  flex-flow: row wrap;
}

.SortInfo__Article {
  width: 50ch;
  line-height: 1.3;
}

.SortInfo__Article li {
  line-height: 1.5;
}

.SortInfo__Article > a {
  color: #e1e1e1;
}

.SortInfo__Article > a:hover {
  color: #fff;
}

.SortInfo__Aside td {
  padding: 0.5rem 0;
}

.SortInfo__Aside h3 {
  margin: 1rem 0;
}

.SortInfo__Aside code {
  padding-left: 1rem;
  font-weight: 700;
}

